@* 
@inherits HomeBase



<PageTitle>Home</PageTitle>

@if (PlayQueue == null)
{
    <p><em>Loading...</em></p>
}
else
{

<div>
<Button  @onclick="Record_Click" Color="ButtonColor.Danger"> Record </Button>
<Button  @onclick="Play_Click" Color="ButtonColor.Success"> Play </Button>
<Button @onclick="Stop_Click" Color="ButtonColor.Dark"> Stop </Button>
<Button onclick=" " Color="ButtonColor.Dark"> Skip Forward </Button>
<Button onclick=" " Color="ButtonColor.Dark"> Skip Back </Button>
<Button @onclick="() => UpdateState_Click()" Color="ButtonColor.Dark"> Check MyState </Button>

<br>
<br>
<Takes></Takes>

</div>
}
 *@