@page "/"
@inherits HomeBase

<PageTitle>Home</PageTitle>

<h1>SmartaCam</h1>


<div> 
	MyState = @StateValue


<Button  @onclick="Record_Click" Color="ButtonColor.Danger"> Record </Button>
<Button  @onclick="Play_Click" Color="ButtonColor.Success"> Play </Button>
<Button @onclick="Stop_Click " Color="ButtonColor.Dark"> Stop </Button>
<Button onclick=" " Color="ButtonColor.Dark"> Skip Forward </Button>
<Button onclick=" " Color="ButtonColor.Dark"> Skip Back </Button>

</div>

